@font-face {
  font-family: '8_bit_1_6regular';
  src: url('../8bitfont/8bit16-webfont.woff2') format('woff2'),
  url('../8bitfont/8bit16-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.marquee{
  width: 100vw;
  background: #282626;
  box-sizing: border-box;
  font-weight: lighter;
  overflow: hidden;
  font-size: 16px;
  padding: 10px 0;
  color: #00a730;
  text-transform: uppercase;
  font-family: '8_bit_1_6regular', Arial, sans-serif;
}

.marquee-text {
  width: 100%;
  white-space: nowrap;
  animation: marquee 90s linear infinite;
  span{
    color: red;
  }
}

@keyframes marquee{
  0% { transform: translateX(0);}
  100% { transform: translateX(calc(-5400px + 100vw));}
}
