.app {
  margin: 0 auto;
  font-family: 'Prompt', sans-serif;

  .scrollUp {
    display: none;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    border: 3px solid #fff;
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    opacity: .8;
    cursor: pointer;
    z-index: 3;

    i {
      color: #fff;
      font-size: 20px;
      margin-top: 5px;
    }
  }
}
